<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Y-Compose LTL</title>
    <style>
        th, td {
            border: solid skyblue;
        }
        .column {
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .annote:hover {
            border: dashed;
            cursor: pointer;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <h2 style="background-color: lightgreen;">Draw LTL to DFA | <a href="/ltl">reset</a> | <a href="/">Home</a></h2>
    <table style="margin: 10px; border-bottom: dashed; background-color: azure;">
        <tr><th class="annote" id="cfml" rowspan="2">Formula</th><td rowspan="2" colspan="3">
            <textarea id="ifml" rows="4" style="width: 95%;"></textarea></td>
            <th>Initial state</th><td id="initial">...</td></tr>
        <tr><th>Accepting states</th><td id="accepting">...</td></tr>
        <tr><th>Save file</th><td><input type="text" id="fname" value="example" minlength="1"> 
            <button id="create">Create DFA ></button></td>
            <th>Load file</th><td><select id="fsel">{% for file in files %}
                    <option value="{{file}}">{{file}}</option>
                {% endfor %}</select><button id="load">Load DFA</button></td>
            <th>Rejecting states</th><td id="rejecting">...</td></tr>
    </table>
    Transition table for Formula: <b id="p_formula" style="font-size: large; color: blueviolet;"></b> 
    <button id="write">Write back</button><button id="copy">Copy</button>
    <div class="row" style="border: dashed; padding-top: 5px;">
        <div class="column">
            <table id="transition"></table>
        </div><div class="column">
            <table id="matrix"></table>
            <button id="clear-color" style="margin-top: 5px;">Clear color annotation</button><br>
            <iframe id="ltlf2dfa" src="http://ltlf2dfa.diag.uniroma1.it/" width="97%" height="500px"></iframe>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loadButton = document.getElementById('load');
            const submitButton = document.getElementById('create');
            const writeButton = document.getElementById('write');
            const copyButton = document.getElementById('copy');
            const formulaBox = document.getElementById('ifml');
            const formulaClear = document.getElementById('cfml');
            const p_formula = document.getElementById("p_formula");

            function create_table(data) {
                let trans_html = "";
                document.getElementById("p_formula").innerHTML = data.formula;
                document.getElementById("initial").innerHTML = data.initial_state;
                document.getElementById("accepting").innerHTML = data.accepting_states;
                document.getElementById("rejecting").innerHTML = data.rejecting_states;
                trans_html += "<tr><th id='state_f'>State from</th><th id='state_t'>State to</th>";
                for (let fv of data.free_variables) {
                    trans_html += "<td>"+fv+"</td>";
                }
                trans_html += "</tr>";
                for (let i=0; i < data.transitions.length; i++) {
                    const entry = data.transitions[i];
                    trans_html += "<tr><td id='pair_f_"+entry[0]+"' class='annote'>"+entry[0]+
                        "</td><td id='pair_t_"+entry[2]+"' class='annote'>"+entry[2]+"</td>";
                    for (let c of entry[1]) {
                        trans_html += "<td style='background-color:";
                        if (c == 0) {
                            trans_html += "lightsalmon";
                        } else if (c == 1) {
                            trans_html += "lightgreen";
                        } else {
                            trans_html += "skyblue";
                        }
                        trans_html += "'>"+c+"</td>";
                    }
                    trans_html += "</tr>";
                }
                document.getElementById('transition').innerHTML = trans_html;
                let matrix_html = "<tr><th>State</th>"
                for (let i=1; i <= data.matrix.length; i++) {
                    matrix_html += "<th id='pair_t_"+i+"' class='annote'>"+i+"</th>";
                }
                matrix_html += "</tr>"
                data.matrix.forEach((row, i) => {
                    matrix_html += "<tr><th id='pair_f_"+(i+1)+"' class='annote'>"+(i+1)+"</th>";
                    for (label of row) {
                        matrix_html += "<td style='background-color: azure'>"+label+"</td>";
                    }
                    matrix_html += "</tr>";
                })   
                document.getElementById("matrix").innerHTML = matrix_html;

                for (let c of ['f', 't']) {
                    const states = document.querySelectorAll("[id^='pair_"+c+"_']");
                    states.forEach((state, num) => {
                        state.addEventListener('click', function() {
                            const label = state.innerHTML;
                            const matching = document.querySelectorAll("[id='pair_"+c+"_"+label+"']");
                            matching.forEach((entry, i) => {
                                if (entry.style.backgroundColor != 'lightgoldenrodyellow') {
                                    entry.style.backgroundColor = 'lightgoldenrodyellow';
                                } else {
                                    entry.style.backgroundColor = 'white';
                                }
                            })
                        })
                    });
                }

                document.getElementById("clear-color").addEventListener('click', function() {
                    document.querySelectorAll("[id^='pair_']").forEach((elem, i) => {
                        elem.style.backgroundColor = 'white';
                    });
                })
            }

            submitButton.addEventListener('click', function() {
                const formData = new FormData();
                const fname = document.getElementById("fname").value;
                const fsel = document.getElementById("fsel");
                formData.append('formula', formulaBox.value);
                formData.append('fname', fname);
                fetch('/create_dfa',
                    {method: 'POST', body: formData}
                ).then(response => response.json()).then(data => {
                    if (data.success) {
                        create_table(data);
                        const entry = fsel.querySelector(`option[value="${fname}"]`);
                        if (! entry) {
                            const option = document.createElement('option');
                            option.value = fname;
                            option.textContent = fname;
                            fsel.appendChild(option);
                        }
                    } else {
                        alert('Error creating dfa table: ' + data.error);
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while creating DFA table.');
                });
            });

            loadButton.addEventListener('click', function() {
                const fname = document.getElementById("fsel").value;
                fetch(`/load_dfa/${fname}`).then(response => response.json()).then(data => {
                    if (data.success) {
                        create_table(data);
                    } else {
                        alert('Error creating dfa table: ' + data.error);
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while creating DFA table.');
                });
            });

            writeButton.addEventListener('click', function() {
                if (p_formula.innerHTML != "") {
                    formulaBox.value = p_formula.innerText;
                }
            })
            copyButton.addEventListener('click', function() {
                navigator.clipboard.writeText(p_formula.innerText);
            })

            formulaClear.addEventListener('click', function() {
                formulaBox.value = "";
            })
        })
    </script>
</body>